@charset "UTF-8";

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 80px;
    height: 80px;
    background-color: rgb(147, 56, 207);
    animation: spinner 5s linear infinite;
    margin: auto;
}

@keyframes spinner{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}